In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

C:\Users\incor\AppData\Local\Temp\ipykernel_25072\3898046990.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [22]:
housing = pd.read_csv("medical_insurance.csv")

In [23]:
housing.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [24]:
X = housing.drop(["charges"],axis = 1)
y = housing.filter(["charges"],axis = 1)

In [25]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       0
1   18    1  33.770         1       0       1
2   28    1  33.000         3       0       1
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2,random_state = 42)

In [27]:
house_predicter = LinearRegression()
house_predicter.fit(X_train,y_train)
y_pred = house_predicter.predict(X_test)

In [28]:
print("MAE", metrics.mean_absolute_error(y_test, y_pred))
print("MSE", metrics.mean_squared_error(y_test, y_pred))
print("RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE 4186.508898366432
MSE 33635210.4311784
RMSE 5799.587091438355

In [29]:
comparison = pd.DataFrame({"actual":y_test.values.tolist(), "Predicted":y_pred.tolist()})
comparison

            actual             Predicted
0     [9095.06825]   [8924.407244424494]
1      [5272.1758]   [7116.295017576371]
2    [29330.98315]   [36909.01352143729]
3     [9301.89355]    [9507.87469117958]
4     [33750.2918]  [27013.350007896275]
..             ...                   ...
263   [47055.5321]   [39116.96866869252]
264   [12222.8983]  [11814.555568419599]
265   [6067.12675]  [7638.1077355956495]
266  [63770.42801]   [40959.08172164216]
267     [9872.701]   [12258.22852853166]

[268 rows x 2 columns]

In [30]:
print(house_predicter.coef_)

[[ 2.57056264e+02 -1.87914567e+01  3.35781491e+02  4.25091456e+02
   2.36478181e+04  2.71284266e+02]]

In [31]:
point = X_test.values[1].reshape(1,-1)
point.shape

(1, 6)